<h1><%= @restaurant.name %>'s Chef</h1>
<p><%= @chef_name %></p>
  <% @restaurant.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <br>
<%= link_to "Back to restaurant", restaurant_path(@restaurant) %>
