/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "font-awesome";

// .restaurant_address input:placeholder-shown {
//  border-color: pink;
//  content: "vimio";
// }
// .restaurant_address input::placeholder {
//  content: "vimio";
// }

.mm {
  position: relative;
  border-radius: 50px;
  height: 40px;
}

.restaurant_address, .restaurant_name  {
  float: right;
  width: 90%;
  outline: none;
}
.restaurant_address input,
.restaurant_name input {
  border: none;
}

.icon-address,
.icon-name {
  font-size: 40px;
  text-align: center;
  width: 10%;
}

.icon-address {
  // display: none;
}
